// color 
$color-orange-0: #FF993C;
$color-orange-1: #FFBA7B;
$color-orange-2: #FFD2A8;
$color-white-0: white;
$color-black-0: #1E0D03;


// background-color 
$bg-white: white;
$bg-orange-0: #FF993C;
$bg-orange-1: #FFB800;
$bg-orange-2: #FFBA7B;
$bg-orange-3: #DC9E66;
$bg-pink-0: #F9F6F4;
$bg-gray-0: #EDEDED;
$bg-gray-1: #F7F8FB;
$bg-gray-2: #F1F4F8;

//fontSize
$fs-16: 16px;
$fs-18: 18px;
$fs-24: 24px;
//line height
$lh-26: 26px;
$lh-30: 30px;


// padding
$pd-4: 4px;
$pd-8: 8px;
$pd-10: 10px;
$pd-11: 11px;
$pd-12: 12px;
$pd-15: 15px;
$pd-16: 16px;
$pd-24: 24px;

// border & border-radius
$border:none;
$border-0: 1px solid #FF993C;
$border-1: 1px solid #FFB800;
$border-radius-12: 12px;
$border-radius-8: 8px;
$border-radius-16: 16px;
$border-radius-20: 20px;

//font-weight
$fw-500: 500;
$fw-600: 600;
$fw-bold: bold;

// height 
$height-0: 40px;
$height-28:28px;
$height-48: 48px;
//width
$width-0: 132px;
$width-470: 470px;
$width-320: 320px;
$width-395: 395px;


