
/* Content */
.title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    display: flex;
    align-items: center;
    color: #1E0D03;
}
.site-layout-background{
    background-color: initial;
}